.wow-style
	&.class-font
		&.class1
			color $warrior-colour

		&.class2
			color $paladin-colour

		&.class3
			color $hunter-colour

		&.class4
			color $rogue-colour

		// make priest black otherwise we can't read it
		&.class5
			// color $priest-colour
			color $black

		&.class6
			color $death-knight-colour

		&.class7
			color $shaman-colour

		&.class8
			color $mage-colour

		&.class9
			color $warlock-colour

		&.class10
			color $monk-colour

		&.class11
			color $druid-colour

		&.class12
			color $demon-hunter-colour

	&.bg
		&.class1
			background-color $warrior-colour

		&.class2
			background-color $paladin-colour

		&.class3
			background-color $hunter-colour

		&.class4
			background-color $rogue-colour

		&.class5
			background-color $priest-colour

		&.class6
			background-color $death-knight-colour

		&.class7
			background-color $shaman-colour

		&.class8
			background-color $mage-colour

		&.class9
			background-color $warlock-colour

		&.class10
			background-color $monk-colour

		&.class11
			background-color $druid-colour

		&.class12
			background-color $demon-hunter-colour

	&.bg-font
		&.class6
		&.class7
		&.class9
		&.class12
			color $white
