.picker
	position relative

	&.expanded
		.input
			border-color $input-active-border-colour
			box-shadow $input-active-box-shadow

	.input
		display flex
		align-items center
		justify-content space-between
		cursor pointer
		user-select none

		i
			color $grey
			margin -5px 0

	.menu
		margin-top 0.25rem
		width 100%
		max-width 100%

		.selected
			$bold()
