@require 'nib'
@require 'mixins'
@require 'colours'
@require 'variables'

global-reset()

*
	box-sizing border-box

// disable OS X over-scroll
html, body
	width 100%
	height 100%
	overflow hidden

body
	$font-family()
	color $black
	line-height 1.2
	// min-height 100%
	font-size 16px
	-webkit-font-smoothing antialiased
	background-color $grey-background

a
	color inherit
	text-decoration none

b, strong
	$bold()

p
	margin 0 0 1rem

h1
	font-size 2rem
	line-height 2.5rem
	letter-spacing -1px

h1, h2, h3, h4, h5
	font-weight 600
	margin 0 0 1rem

#root
	position absolute
	top 0
	bottom 0
	left 0
	right 0

.page-container
	height 100%
	display flex
	flex-direction column

.placeholder
	color $grey

@require 'wow'
@require 'card'
@require 'tooltip'
@require 'button'
@require 'input'
@require '../components/*'

@keyframes stretchdelay
	0%, 40%, 100%
		transform scaleY(0.3)
	20%
		transform scaleY(0.6)

.loader
	$center()
	position fixed
	height 8rem
	font-size 0

	& > div
		background-color $left-menu
		height 100%
		width 1rem
		margin 0 1px
		display inline-block
		border-radius $small-border-radius

		animation stretchdelay 1.2s infinite ease-in-out

	.r2
		animation-delay -1.1s

	.r3
		animation-delay -1.0s

	.r4
		animation-delay -0.9s

	.r5
		animation-delay -0.8s

@require 'ladda.css'
